//- extends ../layouts/default

//- block content
//- 	.container: .jumbotron(style="background: #967bb6;")
//- 		h1 Hallo Jule

html
	head
		title Julia Dorothea von Schottky
	body
		if (data)
			div(style='
			position:fixed; top: 0; bottom: 0; left: 0; right:0;
			background: url(' + data.picture.url + ')')!= data.text
				
		
